.container {
    width: 100%;
    height: 700vh;
    background: #2D2D2D;
    color: #B1A9A9;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: #B1A9A9;
}

a:hover {
    color: #cfc7c7;
}

.u-danger {
    border-bottom: 4px solid #AA4C4C;
}

.header {
    position: absolute;
    top: 20px;
    right: 10%;
    font-size: 10px;
}

.header a + a {
    margin-left: 20px;
}

.frames {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}

.frame {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.frame .frame-content {
    width: 100%;
    opacity: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.frame .frame-content.visible {
    opacity: 1;
}

.skip-btn {
    font-size: 16px;
    font-weight: normal;
}

#arrows {
    position: absolute;
    bottom: 7%;
    opacity: 0;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    cursor: pointer;
}

#arrows.visible {
    opacity: 0.7;
}

#arrows.visible:hover {
    opacity: 1;
}

.frame-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.recovery-center {
    background-image: url('images/recovery-center.png');
}

.man-with-mask {
    background-image: url('images/man-with-mask.png');
}

#counter, #counter-seconds {
    display: inline-block;
}

#counter {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#counter.c-danger {
    font-size: 84px;
}

#counter-seconds {
    display: none;
    font-size: 64px;
}