<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163901291-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163901291-1');
</script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="canonical" href="https://maskbanao.com">
<link rel="alternate" hreflang="en" href="https://maskbanao.com">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://maskbanao.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Mask Banao">
<meta property="og:description" content="Here’s how you can use ten minutes, a piece of cloth and an old sewing machine to save someone's life.">
<meta property="og:site_name" content="Mask Banao">
<meta property="og:image" content="https://maskbanao.com/images/Web-Preview.jpg" />
<meta property="og:image:width" content="3600">
<meta property="og:image:height" content="1890">
<meta property="og:image:alt" content="https://maskbanao.com" />
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="Mask Banao">
<meta property="twitter:site" content="@maskbanao">
<meta property="twitter:image" content="https://maskbanao.com/images/Web-Preview.jpg" />
<meta property="twitter:image:alt" content="https://maskbanao.com" />
<meta name="twitter:creator" content="@maskbanao">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<meta name="title" content="Mask Banao">
<meta name="description" content="Here’s how you can use ten minutes, a piece of cloth and an old sewing machine to save someone's life.">
<meta name="keywords" content="mask,mask banao,jaan bachao,pakistan,covid,coronavirus">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles/font-awesome-all.min.css" type="text/css">
<link rel="stylesheet" href="styles/main.css" type="text/css">
