<div id="header">
    <nav class="navbar">
        <a href="index.html" class="navbar-logo">
            <img src="images/Mask Banao Logo long.svg" />
        </a>
        <button id="navbar-hamburger"></button>
        <ul id="navigation">
            <li><a href="https://www.change.org/p/government-face-masks-in-public-should-be-made-mandatory-by-the-government-to-prevent-covid-19-spread" target="_blank">Request Mask Laws</a></li>
            <li><a href="science.html">The Science</a></li>
            <li><a href="data.html">Data</a></li>
            <li><a href="social.html">Social Media</a></li>
            <li><a href="make-a-mask" class="button">Make a mask</a></li>
        </ul>
        <!-- <div class="language-container">
            <div class="language-switcher">
                English
            </div>
        </div> -->
    </nav>
</div>