<div id="header">
    <nav class="navbar">
        <a href="/home" class="navbar-logo">
            <img src="/images/mask-banao-logo-long.svg" />
        </a>
        <button id="navbar-hamburger"></button>
        <ul id="navigation">
            <li><a onclick="removeNavActiveClass();" class="share-button">Share Campaign</a></li>
            <li><a href="/science">The Science</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/social">Social Media</a></li>
            <li><a href="https://www.gofundme.com/" class="nav-underline">Support us</a></li>
            <li><a href="/make-a-mask" class="button">Make a mask</a></li>
        </ul>
        <div class="language-container">

        </div>
    </nav>
</div>