<!doctype html>
<html lang="en-us">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="styles/home.css" type="text/css">
        <link rel="stylesheet" href="styles/about.css" type="text/css">
        <title>Mask Banao - About us</title>
    </head>
    <body>

        {% include navigation.html %}

        <div class="container">
            <div id="main" class="section background-secondary">
                <div class="main-text">
                    <h1>About Us</h1>
                    <p>MaskBanao, inspired by the successful campaign of <a href="https://masks4all.co" target="_blank">masks4all.co</a>,
                        is a social campaign to promote the use of homemade masks in Pakistan during the COVID-19 pandemic.</p>
                </div>
                <div class="image">
                    <img src="/images/mask-banao-logo-white.svg" alt="Mask Banao"/>
                </div>
            </div>
            <div class="section" id="our-mission">
                <h2 class="center-text">Our Mission</h2>
                <p>The mission is to spread awareness about the importance of masks, push for stronger mask laws from the
                    government, and increase mask production through homemade masks and factories. The vision is a country and
                    community where a majority of the population is using masks, protecting each other from COVID-19. Our team
                    includes students and professionals from around the world. To join us, write to us at <a
                            href="mailto:contactus@maskbanao.com">contactus@maskbanao.com</a>
                </p>
            </div>
        </div>
        <div class="container team_wrapper">
            <h2 class="team_header">Our Team</h2>
            <div class="team">
            </div>
        </div>
        <div id="footer" class="section background-secondary center-text">
            <h1>Help us spread the word!</h1>
            <div class="social-icons">
                <a href="https://www.facebook.com/maskbanao" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com/maskbanao/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/maskbanao" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="https://www.linkedin.com/company/maskbanao/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>

        {% include end.html %}

        <button onclick="scrollToTopFn()" id="scrollToTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
        <script src="/js/pagescroll.js"></script>
        <script src="/js/about.js"></script>
    </body>
</html>
