<!doctype html>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="styles/makeamask.css" type="text/css"> 
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
                crossorigin="anonymous"></script>
        <title>Make a Mask | Mask Banao</title>
    </head>
    <body>
        {% include navigation.html %}
    <div class="container">
        <div class="scroll-container">
            <div class="will-scroll">
                <div class="view">
                    <div class="view-content">
                        <div class="view-header">
                            <h1>40 Second Mask</h1>
                            <div class="links"><a href="#">Download</a> <a href="#">Share</a></div>
                        </div>
        
                        <div class="instructions-container">
                            <h2>You will Need</h2>
                            <ol>
                                <li>Bandana</li>
                                <li>Hair tyes</li>
                                <li>Scissors</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="view">
                    <div class="view-content">        
                        <div class="instructions-container">
                            <h2>Step one</h2>
                            <p>
                                Fold the bandana in half.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="view">
                    <div class="view-content">        
                        <div class="instructions-container">
                            <h2>Step Two</h2>
                            <p>
                                Fold bottom up. Fold top down.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="view">
                    <div class="view-content">        
                        <div class="instructions-container">
                            <h2>Step Three</h2>
                            <p>
                                Place rubber bands or hair ties about 15 cm apart.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="view">
                    <div class="view-content">        
                        <div class="instructions-container">
                            <h2>Step Four</h2>
                            <p>
                                Fold both sides to the middle and tuck.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="view">
                    <div class="view-content">        
                        <div class="instructions-container">
                            <h2>Step Five</h2>
                            <p>
                                The mask is done. Place it over your nose and mouth.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="sticky-image">
                <div class="image-container">
                    <img src="images/mask/1.png" />
                </div>
            </div>
        </div>
    </div>

    <script src="js/maskbanaoscroll.js"></script>
    </body>
</html>