<!doctype html>
<html lang="en-us">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="styles/social.css" type="text/css">
        <title>Mask Banao - Social Media</title>
    </head>
    <body>
        {% include navigation.html %}

        <div class="container">
            <h1 class="green">#MaskBanao #Masks4all</h1>

            <div class="tweets">
                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;We pushed our government to make masks mandatory and in just 3 days everyone outside was wearing a face mask.&quot;<br><br>As the Czech government unveils plans to ease <a href="https://twitter.com/hashtag/Covid19?src=hash&amp;ref_src=twsrc%5Etfw">#Covid19</a> restrictions, here&#39;s a look at how the <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> campaign led by Czech citizens made a huge impact <a href="https://t.co/z1iL7kc3iM">pic.twitter.com/z1iL7kc3iM</a></p>&mdash; QuickTake by Bloomberg (@QuickTake) <a href="https://twitter.com/QuickTake/status/1250483769800298497?ref_src=twsrc%5Etfw">April 15, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">History repeats itself<br>See the sign &quot;Wear a mask or go to jail,&quot; during the influenza epidemic in the USA,1918<br> <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/alSX9QxiLf">pic.twitter.com/alSX9QxiLf</a></p>&mdash; Martin A. Nuñez (@Martin_A_Nunez) <a href="https://twitter.com/Martin_A_Nunez/status/1250117668667088899?ref_src=twsrc%5Etfw">April 14, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Look at this! <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/b8Ily3rFfO">pic.twitter.com/b8Ily3rFfO</a></p>&mdash; Sudha Ramen IFS 🇮🇳 (@SudhaRamenIFS) <a href="https://twitter.com/SudhaRamenIFS/status/1251755076290371585?ref_src=twsrc%5Etfw">April 19, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Worked until 2.30 this morning to complete the masks people asked for yesterday. Masks done &amp; on the way to their owners. I want to thank everyone that has generously donated their left over fabric as it’s enabled me to make over 300 masks to donate. <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://twitter.com/hashtag/LockdownSA?src=hash&amp;ref_src=twsrc%5Etfw">#LockdownSA</a> <a href="https://t.co/32hDy7ctjR">pic.twitter.com/32hDy7ctjR</a></p>&mdash; Rita Venter 🇵🇹🇿🇦💙 (@xeyedmess) <a href="https://twitter.com/xeyedmess/status/1250707743352201216?ref_src=twsrc%5Etfw">April 16, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">My weekend productivity for the neighbours ! <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/tjYsZDb9r5">pic.twitter.com/tjYsZDb9r5</a></p>&mdash; 🇬🇧🇦🇺🇪🇺 Alison🦉🌏 🔶 (@pixielation) <a href="https://twitter.com/pixielation/status/1251897746937851904?ref_src=twsrc%5Etfw">April 19, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">It wasn’t the wedding we planned on, but we learned that we look pretty good in masks ❤️ I guess if you can survive a wedding in a pandemic you can survive anything? <a href="https://twitter.com/hashtag/LoveTrumpsCovid?src=hash&amp;ref_src=twsrc%5Etfw">#LoveTrumpsCovid</a> <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/TPrqmBur2A">pic.twitter.com/TPrqmBur2A</a></p>&mdash; Joe Futoma (@JFutoma) <a href="https://twitter.com/JFutoma/status/1251655610430611456?ref_src=twsrc%5Etfw">April 18, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Germany?src=hash&amp;ref_src=twsrc%5Etfw">#Germany</a>&#39;s government does u-turn on masks: after saying they are useless and maybe even dangerous, now official the recommendation is everyone should (voluntarily)wear them in public. <a href="https://twitter.com/hashtag/Merkel?src=hash&amp;ref_src=twsrc%5Etfw">#Merkel</a> says masks must be disinfected by washing, ironing or microwaving <a href="https://twitter.com/hashtag/maskeauf?src=hash&amp;ref_src=twsrc%5Etfw">#maskeauf</a> <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/DlcyiQak45">pic.twitter.com/DlcyiQak45</a></p>&mdash; Bojan Pancevski (@bopanc) <a href="https://twitter.com/bopanc/status/1250466002464366593?ref_src=twsrc%5Etfw">April 15, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://twitter.com/narendramodi?ref_src=twsrc%5Etfw">@narendramodi</a> our humble and sincere effort to contribute to the needful by making 100%cotton 2 ply reusable washable regular mask for all at home during lockdown . <a href="https://t.co/m00Gp6RJ6O">pic.twitter.com/m00Gp6RJ6O</a></p>&mdash; Deepak Agrawal (@dka_nmsindia) <a href="https://twitter.com/dka_nmsindia/status/1251509866125910016?ref_src=twsrc%5Etfw">April 18, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Selling masks for 20 rupees each in Sahiwal at Pakpatan chok ,when a buyer jokingly said..I don’t even have 20 rupees ,this little boy replied ..take it free.. Buyer said won’t your mother be upset .. his answer was.. my mother has told me .. bohat buri vaba phayli hui hay.. <a href="https://t.co/TuBMf1jkqR">pic.twitter.com/TuBMf1jkqR</a></p>&mdash; Sharmeen Tarar (@SharmeenTarar) <a href="https://twitter.com/SharmeenTarar/status/1246057936054599682?ref_src=twsrc%5Etfw">April 3, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Doesn&#39;t have to be complicated. No mask is 100% effective or nurses and doctors wouldn&#39;t be getting sick, but they are way more effective than nothing. Look at South Korea, 205 deaths, Taiwan 6. They are right by China. They&#39;ve been wearing masks the whole time. <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/SiI5cLGtuq">pic.twitter.com/SiI5cLGtuq</a></p>&mdash; #Masks4All cosmicprank (thomas) 🧢 (@cosmicprank) <a href="https://twitter.com/cosmicprank/status/1249288482746322950?ref_src=twsrc%5Etfw">April 12, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The video that ended the masks don&#39;t work debate. <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/Vt5cWLfycc">pic.twitter.com/Vt5cWLfycc</a></p>&mdash; Cam Woodsum #masks4all #testtraceisolate (@CamWoodsum) <a href="https://twitter.com/CamWoodsum/status/1251272714960211970?ref_src=twsrc%5Etfw">April 17, 2020</a></blockquote>
                </div>

                <div class="tweet">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Good morning, friends. There will be 11 more music note masks available at noon MST (link in bio). They sold out immediately last time. For every mask purchased we will donate one to the Navajo &amp; Hopi Nations where the need is dire. Ahéhee’ ❤️ <a href="https://twitter.com/hashtag/Din%C3%A9tah?src=hash&amp;ref_src=twsrc%5Etfw">#Dinétah</a> <a href="https://twitter.com/hashtag/covid?src=hash&amp;ref_src=twsrc%5Etfw">#covid</a> <a href="https://twitter.com/hashtag/Masks4All?src=hash&amp;ref_src=twsrc%5Etfw">#Masks4All</a> <a href="https://t.co/gFyPfchyFv">pic.twitter.com/gFyPfchyFv</a></p>&mdash; Anna 🧢 (@HadahiiliYazhi) <a href="https://twitter.com/HadahiiliYazhi/status/1251132256564858882?ref_src=twsrc%5Etfw">April 17, 2020</a></blockquote>
                </div>
            </div>
        </div>

        <div id="footer" class="section background-secondary center-text">
            <h1>Help us spread the word!</h1>
            <div class="social-icons">
                <a href="https://www.facebook.com/maskbanao" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com/maskbanao/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="mailto:contactus@maskbanao.com">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://twitter.com/maskbanao" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="https://www.linkedin.com/company/maskbanao/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>

        <div class="backdrop"></div>

        {% include share.html %}
        {% include scripts.html %}

        <button onclick="scrollToTopFn()" id="scrollToTop" title="Go to top"><i class="fa fa-angle-double-up"></i></button>
        <script src="js/pagescroll.js"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
</html>
