.general-about#main {
  background-color: #0DAB76;
  display: block;
}

#team-about .glide__track .glide__slides .glide__slide .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#team-about .glide__bullets {
    text-align: center;
    position: relative;
    margin: 0 auto;
    bottom: auto;
    left: 0;
    display: block;
    list-style: none;
    transform: none;
}

#team-about .glide__bullet {
    background-color: #C5C4C4;
}

#team-about .glide__bullet--active {
    background-color: #0DAB76;
}

#team-about .glide__bullet:hover,
#team-about .glide__bullet:focus {
    border: 2px solid #0DAB76;
    background-color: #0DAB76;
}

#team-about .glide__arrows .glide__arrow {
    font-size: 1.5rem;
    background: #454545;
    color: #f4f4f4;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    padding: 0;
    opacity: 50%;
    border-color: #454545;
    margin: 0;
}
