#map-container {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 80%;
    margin: 0 auto;
    margin-top: 140px;
    grid-gap: 50px;
}

#data {
    height: 70vh;
    width: 100%;
}

.legend {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.legend h3 {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E;
    text-align: center;
}

.legend ul {
    list-style-type: none;
}

.legend li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    color: #000000;
    position: relative;
}

.legend li::before {
    content: "";
    height: 14px;
    width: 14px;
    background-color: #EAEAEA;
    position: absolute;
    left: -24px;
    top: 0;
}

.legend li:nth-child(1):before {
    background-color: #A10000;
}

.legend li:nth-child(2):before {
    background-color: #C80000;
}

.legend li:nth-child(3):before {
    background-color: #FF0000;
}

.legend li:nth-child(4):before {
    background-color: #FF5800;
}

.legend li:nth-child(5):before {
    background-color: #FF8C00;
}

.legend li:nth-child(6):before {
    background-color: #FFB700;
}

.legend li:nth-child(7):before {
    background-color: #FFD700;
}

.legend li:nth-child(8):before {
    background-color: #FFE300;
}

.graph-title {
    margin: 150px 0 20px 0;
}

.graph-source {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.epidemic-graph {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.epidemic-graph iframe {
    border: 0px none;
    /* margin-left: -36px; */
    height: 1150px;
    /* margin-top: -275px; */
    width: 80%;
}

@media (max-width: 1200px) {
    .epidemic-graph, .epidemic-graph iframe {
        width: 90%;
    }
}

@media (min-width: 1300px) and (max-width: 1590px) {
    .epidemic-graph iframe {
        /* margin-top: -335px; */
        height: 1000px;
    }
}

@media (max-width: 589px) {
    .epidemic-graph iframe {
        /* margin-top: -335px; */
        height: 1135px;
    }
}
