#main {
    padding: 100px 230px;
    padding-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.main-text h1 {
    line-height: 48px;
}

.main-text p {
    color: #FFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px; 
    max-width: 450px;
    margin-top: -20px;
}

.main-text .button {
    font-size: 16px;
}

.main-text .button + .button {
    margin-left: 10px;
}

.text-and-image {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.text-and-image .text {
    padding: 20px;
}

.text-and-image .image {
    text-align: center;
}

.text-and-image .image img {
    width: 80%;
}

.text-and-image .text p{
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}


#call-to-action {
    padding: 50px;
}

#call-to-action h2 {
    margin-bottom: 15px;
}

#call-to-action h3 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 800;
}

#call-to-action .social-icons {
    margin-top: 40px;
}

#call-to-action .social-icons a {
    color: #FFF;
    text-decoration: none;
}

#call-to-action .social-icons a + a {
    margin-left: 10px;
}

#call-to-action .social-icons i {
    font-size: 24px;
}

#data {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.tabs {
    max-width: 80%;
    margin: 0 auto;
}

.tab-options ul {
    list-style-type: none;
    padding-left: 0;
}

.tab-options ul li {
    display: inline;
}

.tab {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E;
    padding: 12px 24px;
    background-color: none;
    border: none;
    cursor: pointer;
}

.tab:focus {
    outline: none;
}

.tab.active,
.tab:hover {
    background: #EEEEEE;
}

.tab-content {
    background-color: #EEE;
    margin-top: -16px;
}

.content {
    padding: 20px;
    display: none;
}

.content.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
}

.content .text {
    padding-left: 20px;
}

.content .image {
    text-align: center;
}

.heading {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E
}

.numbered-list {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}

#advisory {
    padding: 20px;
}

.advisory-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2E2E;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.advisory-content span {
    display: block;
}

.advisory-content::before {
    content: "!";
    font-family: Uni Sans;
    color: #A30000;
    font-weight: bold;
    position: absolute;
    font-size: 48px;
    left: -35px;
    top: 11px;
}

#why-make-a-mask h2 {
    margin: 0 10px 0 0;
}

#why-make-a-mask h3 {
    font-family: 'Uni Sans';
    font-weight: 100;
}

.columns {
    display: flex;
    align-items: center;
}

.columns > div {
    padding: 0px 50px 50px 50px;
    width: 50%;
}

.columns > div + div img{
    width: 100%;
}


.columns > div + div{
    text-align: center;
}

.share-container {
    max-width: 490px;
    margin: 0 auto;
}

.share-container p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #2E2E2E;
}

.share-links {
    margin-top: -20px;
    margin-bottom: 20px;
}

.share-links .text-link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #159700;
    margin-right: 15px;
}

.share {
    font-size: 10px;
}

.share span {
    display: block;
}

.share a {
    margin-right: 15px;
}

.share .fa-facebook-square:before {
    content: "\f082";
    font-size: 24px;
    line-height: 28px;
    color: #3B5998;
}

.share .fa-twitter:before {
    content: "\f099";
    font-size: 24px;
    line-height: 28px;
    color: #00ACEE;
}

.slide {
    max-width: 500px;
    margin: 0 auto;
    height: 400px;
    padding: 50px 0;
    color: #2E2E2E;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}

.general-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-body {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 20px;
}

.news-body .logo {
    height: 50px;
    width: 50px;
    background: #C4C4C4;
    border-radius: 8px;

}

#news-carousel .glide__bullets {
    text-align: center;
    position: relative;
    margin: 0 auto;
    bottom: auto;
    left: 0;
    display: block;
    list-style: none;
    transform: none;
}

#news-carousel .glide__bullet {
    background-color: #C5C4C4;
}

#news-carousel .glide__bullet--active {
    background-color: #0DAB76;
} 

#news-carousel .glide__bullet:hover, 
#news-carousel .glide__bullet:focus {
    border: 2px solid #0DAB76;
    background-color: #0DAB76;
}

#experts-suggest > div {
 display: grid;
 grid-template-columns: 1fr 1fr;   
 grid-gap: 50px;
 align-items: center;
 width: 80%;
 margin: 0 auto;
}

#experts-suggest > div p:first-of-type {
    text-align: right;
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
   }

   #experts-suggest > div p:last-of-type {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: #2E2E2E;
   }

   #why-make-at-home,
   #parosi {
       padding-top: 100px;
       padding-bottom: 100px;
   }

   #why-make-at-home div {
       max-width: 50%;
       margin: 0 auto;
   }

   #why-make-at-home p {
    margin-bottom: 10px;
    margin-top: 0;
    }

   #parosi h2,
   #why-make-at-home h1 {
       margin-bottom: 0;
   }

   #parosi p {
       margin-bottom: 10px;
   }

   #parosi a,
   #why-make-at-home a {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
   }

   #map-container h1 {
       margin-bottom: 0;
   }

@media only screen and (min-width: 2400px){
    #main {
        padding: 100px 600px;
        padding-top: 180px;
    }
}

@media only screen and (min-width: 2200px) and (max-width: 2400px){
    #main {
        padding: 100px 450px;
        padding-top: 180px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2200px){
    #main {
        padding: 100px 360px;
        padding-top: 180px;
    }
}

@media only screen and (max-width: 1200px){
    #main {
        padding: 100px 70px;
        padding-top: 149px;
    }
}

@media only screen and (max-width: 1024px) {
    #main {
        padding: 70px 50px;
        padding-top: 114px;
    }


    #why-make-at-home div {
        max-width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    #main {
        padding: 70px 100px;
        padding-top: 150px;
        grid-template-columns: 1fr;
    }

    #main .image {
        grid-area: 1;
        text-align: center;
    }

    #main .image img {
        width: 300px;
    }

    #main .main-text {
        text-align: center;
    }

    #main .main-text p {
        max-width: fit-content;
    }

    #data {
        width: 500px;
    }

    .columns {
        flex-direction: column;
    }

    .columns > div{
        width: 100%;
    }

    .advisory-content {
        font-size: 12px;
        line-height: 18px;
        max-width: 500px;
    }

    .advisory-content::before {
        font-size: 36px;
        left: -35px;
        top: 16px;
    }

    .main-text h1 {
        line-height: 36px;
    }

    .main-text p {
        font-size: 20px;
        line-height: 29px;
    }

    .main-text .button {
        font-size: 12px;
    }

    .content.active {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        
    }

    #call-to-action {
        padding: 90px;
    }

    #experts-suggest > div p:first-of-type {
        font-size: 24px;
        line-height: 24px;
    }

    #why-make-at-home div {
        max-width: 70%;
    }
}


@media only screen and (max-width: 768px) {
    .advisory-content {
        max-width: 400px;
    }

    .tabs {
        max-width: 100%;
    }

    #data {
        width: 400px;
        height: 300px;
    }

    #call-to-action {
        padding: 100px;
    }

    #call-to-action h3 {
        font-size: 24px;
        font-weight: 800;
    }

    .slide {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 50px 0;
        font-size: 16px;
        line-height: 18px;
    }
    
}

@media only screen and (max-width: 500px) {
    .advisory-content {
        max-width: 100%;
        text-align: center;
    }

    .advisory-content::before {
    display: none;
    }

    .tabs {
        max-width: 100%;
    }

    #main {
        padding: 70px 50px;
        padding-top: 150px;
        grid-gap: 20px;
    }

    #main .image img {
        width: 250px;
    }

    .tab {
        font-size: 12px;
        line-height: 14px;
    }

    #call-to-action {
        padding: 50px;
    }

    #data {
        width: 300px;
        height: 400px;
    }

    .numbered-list {
        font-size: 12px;
        line-height: 15px;
    }

    .text-and-image {
        grid-template-columns: 100%;
    }
    

    .text-and-image .text p {
        margin-top: -10px;
    }

    .main-text .button + .button {
        margin-left: 0;
    }

    .main-text .button {
        display: block;
    }

    .main-text .button:first-of-type {
        margin-bottom: 10px;
    }

    #experts-suggest > div {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #experts-suggest > div p:first-of-type {
        text-align: center;
        margin-bottom: 0;
    }

    #call-to-action h3 {
        font-size: 14px;
        font-weight: 800;
    }
}

@media only screen and (max-width: 320px) {
    #main {
        padding: 70px 20px;
        padding-top: 150px;
        grid-gap: 10px;
    }

    #main .image img {
        width: 150px;
    }

    .main-text h1 {
        line-height: 25px;
        margin-bottom: 10px;
    }

    .main-text p {
        font-size: 14px;
        line-height: 14px;
        margin-top: -10px;
    }

    .text-and-image .text p {
        font-size: 12px;
        line-height: 14px;
    }

    #data {
        width: 275px;
        height: 400px;
    }

    .tab {
        padding: 12px 12px;
    }

    .text-and-image .text p {
        margin-top: 0px;
    }

    #experts-suggest > div p:first-of-type {
        font-size: 16px;
        line-height: 16px;
    }

    #experts-suggest > div {
        width: 100%;
    }
    
}
