.container {
    width: 100%;
    height: 700vh;
    background: #232323;
    color: #BBB3B3;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.container.light {
    background: #ffffff;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: #BBB3B3;
    text-transform: uppercase;
}

a:hover {
    color: #cfc7c7;
}

.u-danger {
    border-bottom: 4px solid #AA4C4C;
}

.header {
    position: absolute;
    top: 20px;
    right: 10%;
    font-size: 10px;
}

.header a + a {
    margin-left: 20px;
}

.header #main-btn {
    border-radius: 5px;
    border: 1px solid #BBB3B3;
    padding: 10px;
    color: #BBB3B3;
    display: none;
}

.header #main-btn:hover {
    border: 1px solid #cfc7c7;
    color: #cfc7c7;
    background: #373737;
}

.frames {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}

.frame {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}

.frame .frame-content {
    width: 100%;
    opacity: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.frame .frame-content.visible {
    opacity: 1;
}

.num-infected {
    color: #AA4C4C;
    font-size: 88px;
    margin-bottom: 10px;
    font-family: 'Uni Sans';
}

#arrows {
    position: absolute;
    bottom: 60px;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
    cursor: pointer;
}

#arrows.visible {
    opacity: 0.7;
}

#arrows.visible:hover {
    opacity: 1;
}

.frame-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /*position: fixed;*/
    top: 0;
    left: 0;
}

.recovery-center {
    background-image: url('/images/recovery-center.png');
}

.man-with-mask {
    background-image: url('/images/man-with-mask.jpeg');
}

.beautiful-man {
    background-image: url('/images/beautiful-man.png');
}

#counter, #counter-seconds {
    display: inline-block;
}

#counter {
    font-family: 'Uni Sans';
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#counter.c-danger {
    font-size: 84px;
}

#counter-seconds {
    display: none;
    font-size: 64px;
}

.counter-additional {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.counter-additional.visible {
    opacity: 1;
}

.final-frame,
.final-frame a {
    color: #356E67;
}

.final-frame .make-a-mask {
    font-size: 25px;
    text-transform: inherit;
}

.final-frame .hashtag {
    font-size: 16px;
    margin-bottom: 0;
}

.mask-example {
    width: 450px;
    height: 300px;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials .social-icons {
    margin: 10px auto 0 auto;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socials .social-icons i {
    font-size: 20px;
}

