#main {
    padding: 100px 230px;
    padding-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.main-text h1 {
    line-height: 48px;
}

.main-text p {
    color: #FFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    max-width: 450px;
    margin-top: -20px;
}

.main-text .button {
    font-size: 16px;
}

.main-text .button + .button {
    margin-left: 10px;
}

.text-and-image {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.text-and-image .text {
    padding: 20px;
}

.text-and-image .image {
    text-align: center;
}

.text-and-image .image img {
    width: 80%;
}

.text-and-image .text p {
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    color: #2E2E2E;
}

.text-and-image a {
    color: #2E2E2E;
}


#call-to-action {
    padding: 50px 0;
}

#call-to-action h2 {
    margin-bottom: 15px;
}

#call-to-action h3 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 800;
}

#call-to-action .social-icons {
    margin-top: 40px;
}

#call-to-action .social-icons a {
    color: #FFF;
    text-decoration: none;
}

#call-to-action .social-icons a + a {
    margin-left: 10px;
}

#call-to-action .social-icons i {
    font-size: 24px;
}

#data {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.tabs {
    max-width: 80%;
    margin: 0 auto;
}

.tab-options ul {
    list-style-type: none;
    padding-left: 0;
}

.tab-options ul li {
    display: inline;
}

.tab {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E;
    padding: 12px 24px;
    background-color: #DFDFDF;
    border: none;
    cursor: pointer;
}

.tab:focus {
    outline: none;
}

.tab.active,
.tab:hover {
    background: #EEEEEE;
}

.tab-content {
    background-color: #EEE;
    margin-top: -16px;
}

.content {
    padding: 20px;
    display: none;
}

.content.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
}

.content .text {
    padding-left: 20px;
}

.content .image {
    text-align: center;
    grid-column-end: span 2;
}

.heading {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E
}

.numbered-list {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}

.image {
  height: 100%;
}

.tutorial-video {
  text-align: center;
  /* grid-column-end: span 2; */
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.tutorial-video iframe {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.credit {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}

.quote-credit {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #2E2E2E;
}

#advisory {
    padding: 20px;
}

.advisory-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2E2E;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.advisory-content span {
    display: block;
}

.advisory-content::before {
    content: "!";
    font-family: Uni Sans;
    color: #A30000;
    font-weight: bold;
    position: absolute;
    font-size: 48px;
    left: -35px;
    top: 11px;
}

#why-make-a-mask h2 {
    margin: 0 10px 0 0;
}

#why-make-a-mask h3 {
    font-family: 'Uni Sans';
    font-weight: 100;
}

.columns {
    display: flex;
    align-items: center;
    width: 100%;
}

.columns > div {
    padding: 0px 50px 50px 50px;
    width: 50%;
}

.columns > div + div img {
    width: 100%;
}

.columns > div + div {
    text-align: center;
}

#counts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

#counts h1, #counts h2, #counts h3 {
    margin: 0;
    font-family: 'Uni Sans';
}

#counts .section-divider {
    height: 50px;
    border-left: 1px solid #000;
    margin: 0 50px;
}

#counts .count-section h3 {
    display: inline-block;
    font-size: 24px;
}

#counts .count-section .count-per-type {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

#counts .count-section .count-per-type span {
    font-size: 20px;
    margin-right: 50px;
}

#counts .count-section .estimated-date {
    font-size: 14px;
}

#counts .count-section .estimated-infections {
    font-size: 24px;
}

#counts .count-section .confirmed-date {
    font-size: 14px;
    text-align: right;
}

#counts .city-cases {
    display: flex;
    text-align: center;
}

#counts .city-cases div + div {
    padding-left: 20px;
}

#counts .city-cases span {
    font-size: 20px;
}

#counts .city-cases h3 {
    display: block;
    font-size: 24px;
}

.share-container {
    max-width: 490px;
    margin: 0 auto;
}

.share-container p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #2E2E2E;
}

.share-links {
    margin-top: -20px;
    margin-bottom: 20px;
}

#stats {
    padding-top: 0px;
}

.share-links .text-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #159700;
    margin-right: 15px;
}

.share {
    font-size: 10px;
}

.share span {
    display: block;
}

.share a {
    margin-right: 15px;
}

.share .fa-facebook-square:before {
    content: "\f082";
    font-size: 24px;
    line-height: 28px;
    color: #3B5998;
}

.share .fa-twitter:before {
    content: "\f099";
    font-size: 24px;
    line-height: 28px;
    color: #00ACEE;
}

.float-right {
    float: right;
}

.slide {
    max-width: 500px;
    margin: 0 auto;
    height: 300px;
    padding: 50px 0;
    color: #2E2E2E;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}

.general-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-body {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 20px;
}

.news-body .logo {
    height: 50px;
    width: 50px;
    background: #C4C4C4;
    border-radius: 8px;

}

#news-carousel .glide__bullets {
    text-align: center;
    position: relative;
    margin: 0 auto;
    bottom: auto;
    left: 0;
    display: block;
    list-style: none;
    transform: none;
}

#news-carousel .glide__bullet {
    background-color: #C5C4C4;
}

#news-carousel .glide__bullet--active {
    background-color: #0DAB76;
}

#news-carousel .glide__bullet:hover,
#news-carousel .glide__bullet:focus {
    border: 2px solid #0DAB76;
    background-color: #0DAB76;
}

#news-carousel .glide__arrows .glide__arrow,
#instagram .glide__arrows .glide__arrow {
    /* font-size: 1.5rem; */
    background: #454545;
    color: #f4f4f4;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    /* line-height: 3rem; */
    /* border-radius: 50%; */
    padding: 0;
    opacity: 50%;
    border-color: #454545;
    margin: 0;
    transition: background-color .2s ease-in-out;
}

#news-carousel .glide__arrows .glide__arrow {
    border-radius: 50%;
}

#instagram .glide__arrows .glide__arrow {
    opacity: 70%;
}

#instagram .glide__arrows .glide__arrow:hover {
    opacity: 100%;
    background-color: #555;
}

#instagram .glide__arrows .glide__arrow.glide__arrow--left {
    left: 0;
}

#instagram .glide__arrows .glide__arrow.glide__arrow--right {
    right: 0;
}

#instagram .button {
    font-size: 1.5rem;
    background: #454545;
    color: #f4f4f4;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    padding: 0;
    opacity: 50%;
    border-color: #454545;
    margin: 0;
}

#experts-suggest > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#experts-suggest > div p:first-of-type {
    text-align: right;
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
}

#experts-suggest > div p:last-of-type {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}

#why-make-at-home,
#parosi {
    padding-bottom: 50px;
}

#parosi {
    padding-top: 50px;
}

#why-make-at-home div {
    max-width: 50%;
    margin: 0 auto;
}

#why-make-at-home p {
    margin-bottom: 10px;
    margin-top: 0;
}

#why-make-at-home h3 {
    font-family: Uni Sans;
}

#parosi h2,
#why-make-at-home h1 {
    margin-bottom: 0;
}

#parosi p {
    margin-bottom: 10px;
}

#parosi a,
#why-make-at-home a {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
}

#map-container h1 {
    margin-bottom: 0;
}

.tweets {
    text-align: center;
    width: 100%;
}

.tweet {
    display: inline-block;
    max-width: 500px;
    min-width: 200px;
    /* width: 40%; */
    width: 100%;
    /* margin: 20px 0; */
    /* margin: 20px 0 0 0; */
    vertical-align: top;
}

.tweet blockquote {
    display: none;
}

#call-to-action h2 em {
    /* color: #ee2d2d; */
}

#call-to-action h2 table {
    margin-left: auto;
    margin-right: auto;
}

#call-to-action h2 table tr td:first-of-type {
    text-align: right;
}

#call-to-action h2 table tr td:last-of-type {
    text-align: left;
}

#scrollToTop:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .tweet {
        min-width: 100px;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 2400px) {
    #main {
        padding: 100px 600px;
        padding-top: 180px;
    }
}

@media only screen and (min-width: 2200px) and (max-width: 2400px) {
    #main {
        padding: 100px 450px;
        padding-top: 180px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2200px) {
    #main {
        padding: 100px 360px;
        padding-top: 180px;
    }
}

@media only screen and (max-width: 1200px) {
    #main {
        padding: 100px 70px;
        padding-top: 149px;
    }
}

@media only screen and (max-width: 1024px) {
    #main {
        padding: 70px 50px;
        padding-top: 114px;
    }


    #why-make-at-home div {
        max-width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    #main {
        padding: 70px 100px;
        padding-top: 150px;
        grid-template-columns: 1fr;
    }

    #main .image {
        grid-area: 1;
        text-align: center;
    }

    #main .image img {
        width: 300px;
    }

    #main .main-text {
        text-align: center;
    }

    #main .main-text p {
        max-width: fit-content;
    }

    #data {
        width: 500px;
    }

    #counts {
        flex-direction: column;
    }

    #counts .section-divider {
        height: 1px;
        width: 150px;
        border-bottom: 1px solid #000;
        margin: 20px 0;
    }

    .columns {
        flex-direction: column;
    }

    .columns > div {
        width: 100%;
    }

    .advisory-content {
        font-size: 12px;
        line-height: 18px;
        max-width: 500px;
    }

    .advisory-content::before {
        font-size: 36px;
        left: -35px;
        top: 16px;
    }

    .main-text h1 {
        line-height: 36px;
    }

    .main-text p {
        font-size: 20px;
        line-height: 29px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-text .button {
        font-size: 12px;
    }

    .content.active {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    #call-to-action {
        padding: 90px 0;
    }

    #experts-suggest > div p:first-of-type {
        font-size: 24px;
        line-height: 24px;
    }

    #why-make-at-home div {
        max-width: 70%;
    }

    .tutorial-video {
      grid-column-end: span 1;
      grid-row: 3;
    }
}


@media only screen and (max-width: 768px) {
    .advisory-content {
        max-width: 400px;
    }

    .tabs {
        max-width: 100%;
    }

    #data {
        width: 400px;
        height: 300px;
    }

    #call-to-action {
        padding: 100px 0;
    }

    #call-to-action h3 {
        font-size: 24px;
        font-weight: 800;
    }

    .slide {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 50px 0;
        font-size: 16px;
        line-height: 18px;
    }

}

@media only screen and (max-width: 500px) {
    .advisory-content {
        max-width: 100%;
        text-align: center;
    }

    .advisory-content::before {
        display: none;
    }

    .tabs {
        max-width: 100%;
    }

    #main {
        padding: 70px 50px;
        padding-top: 150px;
        grid-gap: 20px;
    }

    #main .image img {
        width: 250px;
    }

    .tab {
        font-size: 12px;
        line-height: 14px;
    }

    #call-to-action {
        padding: 50px 0;
    }

    #data {
        width: 300px;
        height: 400px;
    }

    .numbered-list {
        font-size: 12px;
        line-height: 15px;
    }

    .text-and-image {
        grid-template-columns: 100%;
    }


    .text-and-image .text p {
        margin-top: -10px;
    }

    .main-text .button + .button {
        margin-left: 0;
    }

    .main-text .button {
        display: block;
    }

    .main-text .button:first-of-type {
        margin-bottom: 10px;
    }

    #experts-suggest > div {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #experts-suggest > div p:first-of-type {
        text-align: center;
        margin-bottom: 0;
    }

    #call-to-action h3 {
        font-size: 14px;
        font-weight: 800;
    }

    #call-to-action h2 {
        font-size: 18px !important;
        font-weight: 800;
    }
}

@media only screen and (max-width: 320px) {
    #main {
        padding: 70px 20px;
        padding-top: 150px;
        grid-gap: 10px;
    }

    #main .image img {
        width: 150px;
    }

    .main-text h1 {
        line-height: 25px;
        margin-bottom: 10px;
    }

    .main-text p {
        font-size: 14px;
        line-height: 14px;
        margin-top: -10px;
    }

    .text-and-image .text p {
        font-size: 12px;
        line-height: 14px;
    }

    #data {
        width: 275px;
        height: 400px;
    }

    .tab {
        padding: 12px 12px;
    }

    .text-and-image .text p {
        margin-top: 0px;
    }

    #experts-suggest > div p:first-of-type {
        font-size: 16px;
        line-height: 16px;
    }

    #experts-suggest > div {
        width: 100%;
    }

}


