@font-face {
    font-family: 'Uni Sans';
    src: url('../webfonts/unisansdemo-heavycaps-webfont.woff2') format('woff2'),
         url('../webfonts/unisansdemo-heavycaps-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}   

@font-face {
    font-family: 'Uni Sans';
    src: url('../webfonts/unisansdemo-heavyitaliccaps-webfont.woff2') format('woff2'),
         url('../webfonts/unisansdemo-heavyitaliccaps-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}


@font-face {
    font-family: 'Uni Sans';
    src: url('../webfonts/unisansdemo-thincaps-webfont.woff2') format('woff2'),
         url('../webfonts/unisansdemo-thincaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Uni Sans';
    src: url('../webfonts/unisansdemo-thinitaliccaps-webfont.woff2') format('woff2'),
         url('../webfonts/unisansdemo-thinitaliccaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    }

#header {
    width: 100vw;
    background-color: #FFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 10000;
}

.navbar {
    display: grid;
    align-content: center;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    padding: 30px 20px;
}

.navbar-logo {
    font-family: 'Uni Sans';
    color: #0DAB76;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.navbar-logo {
    width: 150px;
}

#navbar-hamburger {
    display: none;
}

#navigation {
    list-style-type: none;
    display: inline;
    text-align: right;
    padding-right: 20px;
}

#navigation li {
    display: inline;
    padding: 0 5px;
}

#navigation li a {
    text-decoration: none;
    color: #2E2E2E;
    font-size: 14px;
    font-family: 'Uni Sans';
    font-weight: bold;
}

#navigation li a:hover {
    color: #147066;
}

#navigation li a.button {
    color: #FFF;
}

.language-container {
    border-left: 1px solid #C9C9C9;
    padding-left: 20px;
}

.container {
    background: #FFF;
    width: 100vw;
}

.white {
    color: #FFF;
}

.dark-green {
    color: #137166;
}

.grey {
    color: #2D2D2D;
}

.button { 
    background-color: #0DAB76;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .5s ease-in-out;
}

.button:hover {
    background-color: #147066;
    transition: background-color .5s ease-in-out;
}

.button-secondary {
    background-color: #FFF;
    color: #0DAB76;
    transition: color .5s ease-in-out;
}

.button-secondary:hover {
    color: #147066;
    background-color: #FFF;
    transition: color .5s ease-in-out;
}

.text-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #147066;
    cursor: pointer;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.text-link.small {
    font-size: 10px;
}

.background-secondary {
    background-color: #0DAB76;
}

.background-tertiary {
    background: #EEEEEE;
}

h1 {
    font-family: 'Uni Sans';
    font-weight: bold;
    font-size: 48px;
}

h1.secondary {
    color: #0DAB76;
}

h2 {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #2E2E2E;
}

.section {
    padding: 50px 150px;
}

.center-text {
    text-align: center;
}

#main {
    padding: 100px 230px;
    padding-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.main-text h1 {
    line-height: 48px;
}

.main-text p {
    color: #FFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px; 
    max-width: 450px;
    margin-top: -20px;
}

.main-text .button {
    font-size: 16px;
}

.text-and-image {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.text-and-image .text {
    padding: 20px;
}

.text-and-image .image {
    text-align: center;
}

.text-and-image .image img {
    width: 80%;
}

.text-and-image .text p{
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}

#call-to-action {
    padding: 150px;
}

#footer {
    background-color: #0DAB76;
    padding: 18px 24px;
}

.footer-links {
    list-style-type: none;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li a {
    color: #FFF;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-links li a:hover {
    text-decoration: underline;
}

#data {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
}

.tabs {
    max-width: 80%;
    margin: 0 auto;
}

.tab-options ul {
    list-style-type: none;
    padding-left: 0;
}

.tab-options ul li {
    display: inline;
}

.tab {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E;
    padding: 12px 24px;
    background-color: none;
    border: none;
    cursor: pointer;
}

.tab:focus {
    outline: none;
}

.tab.active,
.tab:hover {
    background: #EEEEEE;
}

.tab-content {
    background-color: #EEE;
    margin-top: -16px;
}

.content {
    padding: 20px;
    display: none;
}

.content.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.content .text {
    padding-left: 20px;
}

.content .image {
    text-align: center;
}

.heading {
    font-family: Uni Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #2E2E2E
}

.numbered-list {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #2E2E2E;
}

#advisory {
    padding: 20px;
}

.advisory-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2E2E;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.advisory-content span {
    display: block;
}

.advisory-content::before {
    content: "!";
    font-family: Uni Sans;
    color: #A30000;
    font-weight: bold;
    position: absolute;
    font-size: 48px;
    left: -35px;
    top: 11px;
}

@media only screen and (min-width: 2400px){
    #main {
        padding: 100px 600px;
        padding-top: 180px;
    }

    .section {
        padding: 50px 600px;
    }
}

@media only screen and (min-width: 2200px) and (max-width: 2400px){
    #main {
        padding: 100px 450px;
        padding-top: 180px;
    }

    .section {
        padding: 50px 450px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2200px){
    #main {
        padding: 100px 360px;
        padding-top: 180px;
    }

    .section {
        padding: 50px 360px;
    }
}

@media only screen and (max-width: 1200px){
    #main {
        padding: 100px 70px;
        padding-top: 149px;
    }

    .section {
        padding: 30px 70px;
    }
}

@media only screen and (max-width: 1024px) {
    #main {
        padding: 70px 50px;
        padding-top: 114px;
    }

    .section {
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 992px) {
    #main {
        padding: 70px 100px;
        padding-top: 150px;
        grid-template-columns: 1fr;
    }

    #main .image {
        grid-area: 1;
        text-align: center;
    }

    #main .image img {
        width: 300px;
    }

    #main .main-text {
        text-align: center;
    }

    #main .main-text p {
        max-width: fit-content;
    }

    .section {
        padding: 30px 50px;
    }

    #data {
        width: 500px;
    }

    .advisory-content {
        font-size: 12px;
        line-height: 18px;
        max-width: 500px;
    }

    .advisory-content::before {
        font-size: 36px;
        left: -35px;
        top: 16px;
    }

    .main-text h1 {
        line-height: 36px;
    }

    h1 {
        font-size: 36px;
    }

    .main-text p {
        font-size: 20px;
        line-height: 29px;
    }

    .main-text .button {
        font-size: 12px;
    }

    .content.active {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .text-and-image {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .text-and-image .image {
        grid-area: 1;
    }

    #call-to-action {
        padding: 90px;
    }
}

@media only screen and (max-width: 768px) {
    #navbar-hamburger {
        display: block;
        height: 40px;
        width: 40px;
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 20px;
        margin-right: auto;
    }

    #navbar-hamburger:before {
        content: "\f0c9";
        color: #0DAB76;
        font-weight: 600;
        font-size: 36px;
        font-family: "Font Awesome 5 Free";
    }

    #navbar-hamburger:focus {
        outline: none;
    }

    .navbar {
        grid-template-columns: 60% 1fr 65px;
    }

    .navbar-logo {
        grid-area: 1;
    }

    .language-container {
        grid-area: 1/2;
        text-align: right;
        border-left: none;
        border-right: 1px solid #C9C9C9;
        padding-left: 0;
        padding-right: 20px;
    }

    #navigation {
        max-height: 0;
        overflow: hidden;
        padding-left: 0;
        transition: max-height .5s ease-in-out;
        grid-area: 2/1/ span 1 /span 3;
        text-align: left;
        margin: 0;
    }

    #navigation.active {
        transition: max-height .5s ease-in-out;
        max-height: 400px;
    }


    #navigation li {
        display: block;
        padding: 20px 5px;
    }

    .advisory-content {
        max-width: 400px;
    }

    .tabs {
        max-width: 100%;
    }

    #data {
        width: 400px;
        height: 300px;
    }

    h2 {
        font-size: 22px;
        line-height: 22px;
    }

    #call-to-action {
        padding: 100px;
    }
}


@media only screen and (max-width: 500px) {
    .advisory-content {
        max-width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        line-height: 22px;
    }

    .advisory-content::before {
    display: none;
    }

    .tabs {
        max-width: 100%;
    }

    #main {
        padding: 70px 50px;
        padding-top: 150px;
        grid-gap: 20px;
    }

    #main .image img {
        width: 250px;
    }

    .section {
        padding: 30px 20px;
    }

    .tab {
        font-size: 12px;
        line-height: 14px;
    }

    #call-to-action {
        padding: 50px;
    }

    #data {
        width: 300px;
        height: 400px;
    }

    #footer {
        text-align: center;
        padding: 5px 16px;
    }

    .numbered-list {
        font-size: 12px;
        line-height: 15px;
    }

    .text-and-image .text p {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 320px) {
    #main {
        padding: 70px 20px;
        padding-top: 150px;
        grid-gap: 10px;
    }

    #main .image img {
        width: 150px;
    }

    h1 {
        font-size: 18px;
    }

    .main-text h1 {
        line-height: 25px;
    }

    .main-text p {
        font-size: 14px;
        line-height: 14px;
        margin-top: -10px;
    }

    .text-and-image .text p {
        font-size: 12px;
        line-height: 14px;
    }

    .text-link {
        font-size: 14px;
        line-height: 14px;
    }

    #data {
        width: 275px;
        height: 400px;
    }

    .tab {
        padding: 12px 12px;
    }

    h2 {
        font-size: 14px;
        line-height: 14px;
    }

    .button {
        padding: 6px 15px;
        font-size: 10px;
    }

    .text-and-image .text p {
        margin-top: 0px;
    }
    
}