#entries {
    padding: 50px 100px;
    padding-top: 170px;
}

.card-row {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    display: inline-block;
    position: relative;
    width: 400px;
    background-color: #FFF;
    min-height: 265px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    border: 1px solid #147066;
    vertical-align: top;
}

.card + .card {
    margin-left: 20px;
}

.card .card-content.social {
    padding-top: -10px;
}

.card .card-content.social blockquote {
    display: none;
}

.card .card-content.social .twitter-tweet {
    margin: 0 !important;
    border: 0 !important;
}

.card .card-content:not(.social) {
    padding: 20px;
    cursor: pointer;
    position: absolute;
    height: calc(100% - 40px);
}

.card .card-content:not(.social):hover {
    color: #147066;
}

.card .card-content:not(.social) a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 14px;
}

.card .card-content:not(.social) a:hover {
    text-decoration: underline;
}

.card .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #147066;
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card .card-footer a {
    margin-right: 10px;
}

.card .card-footer .fa-twitter:before,
.card .card-footer .fa-facebook-square:before {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

@media only screen and (max-width: 1120px) {
    .card {
        width: 90% !important;
        vertical-align: inherit;
        margin: 20px 0 !important;
    }
}

@media only screen and (max-width: 600px) {

    #entries {
        padding: 50px;
        padding-top: 170px;
    }
}