#main {
    height: 300px;
    color: #ffffff;
}

#main h1 {
    margin-top: 130px;
    color: #ffffff;
}

#main .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main i {
    font-size: 40px;
    color: #ffffff;
}

#main a+a {
    margin-left: 40px;
}